.row{   

    background-color:transparent;
    color:white;
    font-size:20px;
}
.headshot{
    width:45%}
.mid{
    background-color:transparent;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}
.footer{
display: flex;
justify-content: space-around;

}
body{
    background-image: url('https://media.giphy.com/media/u98zWbe3jgJoI/giphy.gif');
    background-size: cover;
}

#ok{
    background-color:red;
    width:60px;
}
#ook{
    background-color:black;
    width:80px;
}
#ko{
    background-color:green;
    width:51px;
}
.contact{
    display: flex;
    justify-content: space-around;


}
#H{background-color:yellow;
}
#K{background-color:grey;
}
#L{background-color:orange;
}
#d{
    
}
.pages{
    display: flex;
justify-content: space-around;

}
.LINKS{
    display: flex;
justify-content: space-around;
}